 <nav class="container navbar navbar-expand-sm bg-dark navbar-dark">
  <ul class="navbar-nav">
    <li class="nav-item active">
      <a class="nav-link" href="#">Home</a>
    </li>
  </ul>
</nav>
<h3 class="container">Phonebook</h3>
<div class="container">
  <div class="row">
    <form>
        <nav class="navbar">
            <div class="input-group">
                <div class="input-group-addon"><i class="fa fa-search fa-2x fa-pull-left" ></i></div>
                <input type="text" class="form-control" name="search" placeholder="Search contact" [(ngModel)]="filter">
            </div>
        </nav>
    </form>
    <table class="table table-condensed table-hover table-striped" >
      <thead class="thead-inverse">
        <tr>
            <td>
                <a href="#" (click)="sort('name')">Name</a>
            </td>
            <td>
                <a href="#" (click)="sort('phone_number')">Phone number</a>
            </td>
            <td>
                <a href="#" (click)="sort('address')">Address</a>
            </td>
          <!-- <th (click)="sort('name')">Name
            <span *ngIf="key =='name'" [ngClass]="{'fa fa-caret-up':reverse,'fa fa-caret-down':!reverse}"></span>
          </th> -->
          <!-- <th (click)="sort('phone_number')">Phone number
            <i class="fa fa-sort" *ngIf="key =='phone_number'" [ngClass]="{'fa fa-sort-up':reverse,'fa fa-sort-down':!reverse}"></i>
          </th>
          <th (click)="sort('address')">Address
            <i class="fa fa-sort" *ngIf="key =='address'" [ngClass]="{'fa fa-sort-up':reverse,'fa fa-sort-down':!reverse}"></i>
          </th> -->
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let c of data.contacts | orderBy: key : reverse | filter:filter">
            <td>{{ c.name }}</td>
            <td>{{ c.phone_number }}</td>
            <td>{{ c.address }}</td>
        </tr>
    </tbody>
    </table>

    <div class="footer-copyright">
        <div class="container-fluid">
            © 2018 Copyright: Phonebook
        </div>
    </div>
  </div>

</div>


